<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        td {
            padding-right: 20px;
        }



        html {
            height: 100%;
        }

        body {
            min-height: 100%;
            position: relative;
        }

        footer {
            position: absolute;
            text-align: center;
            left: 0;
            right: 0;
            bottom: 0;
            padding-bottom: 15px;
        }
    </style>
</head>

<body>
    <hr>
    <nav>
        <a href='/'>Home</a>
        <a href='/files/'>Files</a>
    </nav>
    <hr>
    <table name="filetable">
        {{ range . }}
        {{if .IsDir}}
        <tr id="{{.Index}}">
            <td><a href="{{ .FPath }}">{{.Fname}}</a></td>
            <td>
                <form action="/files/" method="post">
                    <button type="submit" name="zip" value="{{.FPath}}">makezip</button></li>
                </form>
            </td>
        </tr>
        {{else}}
        <tr id="{{.Index}}">
            <td><a href="{{ .FPath }}">{{.Fname}}</a></td>
            <td>{{ .CreatedAt | formatDate | printf "Created at: %s" }}</td>
        </tr>
        {{ end }}
        {{end}}
    </table>
    {{ template "footer" .}}

</body>

</html